.container {
  display: flex;
  flex-direction: column;
  background: #f8f9fa;
  padding: 25px;
  border-radius: 12px;
  border-left: 4px solid var(--secondary-color);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  height: 100%;
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.title {
  color: var(--primary-color);
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.city {
  background: var(--accent-color);
  color: var(--primary-color);
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 15px;
}

.decriptionBlock {
  margin-bottom: 20px;
  flex-grow: 1;
}

.decription {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.button {
  background: var(--secondary-color);
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s ease;
  flex: 1;
  min-width: 200px;
  text-align: center;
}

.button:hover {
  background: var(--primary-color) ;
}